<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CrossStudyStudyQuery">


	<select id="getStudyRawData" resultType="hashmap" parameterType="StudyDataColumnModel">
		select
		<foreach item="item" index="index" collection="list">

			<if test="item.order != item.count">
				(Select t2.datavalue from
				studyrawdata as t2 where
				t2.datacolumn=#{item.columnheader} and
				t2.datarow=t1.datarow and
				t2.studyid=#{item.studyid}) as
				#{item.columnheader},
			</if>

			<if test="item.order == item.count">
				(Select t2.datavalue from
				studyrawdata as t2 where
				t2.datacolumn=#{item.columnheader} and
				t2.datarow=t1.datarow and
				t2.studyid=#{item.studyid}) as
				#{item.columnheader},
				t1.studyid from
				studyrawdata as t1 where
				t1.datacolumn='GName' and
				t1.studyid=#{item.studyid}
			</if>

		</foreach>

	</select>

	<select id="getCrossStudyQueryResult" resultType="hashmap"
		parameterType="CrossStudyQueryFilterModel">

		select t1.studyid as studyid,datarow as datarow,tblStudy.name as
		studyname,datavalue as GName,

		<foreach item="item" index="index" collection="list">
			<if test="item.columnRemark =='filter' and item.orderCriteria == 'last'">
				(Select t2.datavalue from studyrawdata as t2 where
				t2.datacolumn=#{item.variable} and t2.datarow=t1.datarow and
				t2.studyid=t1.studyid) as #{item.variable}
			</if>

			<if test="item.columnRemark =='filter' and item.orderCriteria != 'last'">
				(Select t2.datavalue from studyrawdata as t2 where
				t2.datacolumn=#{item.variable} and t2.datarow=t1.datarow and
				t2.studyid=t1.studyid) as #{item.variable} ,
			</if>


		</foreach>

		from studyrawdata as t1
		left join study as tblStudy on
		t1.studyid=tblStudy.id where
		t1.datacolumn='GName'

		and

		<foreach item="item" index="index" collection="list">
			<if test="item.columnRemark =='filter' and item.orderCriteria == 'last'">

				<if test="item.dataType == 'Number'">
					(Select t2.datavalue from studyrawdata
					as t2 where
					t2.datacolumn=#{item.variable} and t2.datarow=t1.datarow
					and
					t2.studyid=t1.studyid)

					<if test="item.operator == 'greaterthan'">
						&gt; #{item.valueDouble}
					</if>

					<if test="item.operator == 'lessthan'">
						&lt; #{item.valueDouble}
					</if>
				</if>

				<if test="item.dataType == 'String'">
					(Select t2.datavalue from studyrawdata as t2 where
					t2.datacolumn=#{item.variable}
					and t2.datarow=t1.datarow and
					t2.studyid=t1.studyid) =
					#{item.valueString}

				</if>

			</if>

			<if test="item.columnRemark =='filter' and item.orderCriteria != 'last'">
				<if test="item.dataType == 'Number'">
					(Select t2.datavalue from studyrawdata as t2 where
					t2.datacolumn=#{item.variable}
					and t2.datarow=t1.datarow and
					t2.studyid=t1.studyid) 
					<if test="item.operator == 'greaterthan'">
						&gt; #{item.valueDouble} and
					</if>

					<if test="item.operator == 'lessthan'">
						&lt; #{item.valueDouble} and
					</if>
					
				</if>

				<if test="item.dataType == 'String'">
					(Select t2.datavalue from studyrawdata
					as t2 where
					t2.datacolumn=#{item.variable} and t2.datarow=t1.datarow
					and
					t2.studyid=t1.studyid) = #{item.valueString} and
				</if>
			</if>



		</foreach>
		order by t1.datarow,t1.datavalue


	</select>

</mapper>