.studyInfoTitle.z-label {
	color: #8000FF;
	font-size: 28px;
}

.studyInfoSubTitle.z-label {
	color: #8000FF;
	font-size: 28px;
}

.studyInfoLabel.z-label {
	color: #8000FF;
	font-size: 28px;
}

.myGridWithNoBorder {
	border: 0px #CCC;
}

.myGridWithNoBorder.z-row {
background:#FFFFFF;
}